/* about.css */
:root {
    /* Primary Color */
    --primary-color: #1756a3;

    --background-color: #ffffff;

    /* Background */
    --white-color: #ffffff;

    /* Accent Gray */
    --heading-text: #000;

    /* Text and Secondary Elements */
    --text-color: #333;

    /* Divider Lines */
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--font-family);

}

body {
    color: #333;
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

.bg-header {
    background: var(--background-color);
}


nav {
    height: 10rem;
}


.navbar-brand {
    font-size: 2.4rem;
}

.navbar-brand:hover {
    color: var(--text-color);
}

.nav-link:link,
.nav-link:visited {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
}


.nav-link:hover,
.nav-link:active {
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}


.nav-link.cta {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: inline-block;
    padding: 0.5rem 2rem !important;
    border-radius: 4px;
}

.nav-link.cta:hover {
    background-color: #297fea;
    color: #fff;
}


h1 {
    font-size: 5.2rem;
    letter-spacing: -0.4px;
    line-height: 1.2;
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 3rem;
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}
/* Accordion styles*/
.accordion {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.accordion-button {
    font-size: 0.7em;
}

.accordion-body {
    font-size: 1em;
    font-family: var(--font-family);
}

hr {
    background-color: #474646;
    max-width: 50%;
    margin: auto;
    margin-bottom: 15px;
}



/* Media Queries */
@media (max-width: 978px) {
    .about-paragraph {
        flex-direction: column;
        align-items: center;
    }

    .about-paragraph img {
        margin-bottom: 20px;
    }
}

@media (max-width: 978px) {
    hr {
        max-width: 100%;
    }
}