html, body {
    width: 100%;
    height: 100%;
    font-family: 'Fjalla One', sans-serif;
}

footer{
    font-family: "Poppins", sans-serif;
}

nav {
    color: white;
    padding-bottom:65px;
}

hr {
    height: 3px;
    background-color: #D00D2D;
    max-width: 100%;
}

.logo{
    font-size: 1.2em;
    font-weight: 800;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

.navbar-brand .img-responsive2{
    max-height: 45px;
    max-width: 50%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
}

.navbar-nav > li{
    padding-left:1.5em;
    padding-right:1.5em;
}

#heading-1 { padding-top: 3em; }

#about p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
}

#contact p{ font-size: 1.2em;}

.card {
    /* need min/max because flexbox */
    min-width: 310px;
    max-width: 310px;
    height: 160px;
    float: none;
    margin: 0 auto 10px;
}

.card-short {
    /* need min/max because flexbox */
    min-width: 310px;
    max-width: 310px;
    height: 160px;
    float: none;
    margin: 0 auto 10px;
}

.card-img {
    object-fit: cover;
    object-position: center;
    width: 100px;
    max-height: 100px;
}

.card-img-sm {
    object-fit: cover;
    object-position: center;
    width: 42px;
    max-height: 42px;
}

.card-footer { height: 50px; }

@media (max-width: 978px) {
    hr { max-width: 100%; }
}

@media (max-width: 568px) {

}
