/* about.css */

/* Import custom font */
@import url('./styles.css');
:root {
    --main-bg-color: #DC3545;
    --font-family: 'Times New Roman', Times, serif;
    --white-color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
}
h1{
    color: black;
}
/* Navbar */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar-brand span {
    font-size: 1.2rem;
    white-space: nowrap;
}

/* General Navbar Styling */
.navbar {
    padding: 0.5rem 1rem;
}

/* Ensure dropdowns take full width on mobile */
.nav-item.dropdown .dropdown-menu {
    width: 100%;
}

/* Navbar Links */
.nav-link {
    font-size: 18px;
    padding: 0.5rem 1rem;
    color: white;
}

/* Centered Navigation Items */
.navbar-nav {
    text-align: center;
}

/* Social Media Icons */
.sm-icons {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.sm-icons .nav-link {
    font-size: 20px;
    padding: 0 0.5rem;
}

/* Scrolling banner */
.scrolling-banner {
    width: 100%;
    height: 30px;
    margin-top: 81px;
    overflow: hidden;
    background-color: var(--main-bg-color);
    white-space: nowrap;
    
}

.scrolling-banner p {
    font-size: medium;
    display: inline-block;
    animation: scroll-left 55s linear infinite;
    color: var(--white-color);
    font-family: var(--font-family);
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Footer styles */
footer {
    font-family: var(--font-family);
    color: var(--white-color);
}

footer .bi {
    color: var(--white-color);
    font-size: 1em;
    font-family: var(--font-family);
}

.social-media {
    color: white !important;
}

.copyright {
    color: white !important;
    font-size: 1em;
    text-decoration: none;
    margin-right: 35px !important;
}



h1,h2,p {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 2;
}

/* Accordion styles*/
.accordion {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.accordion-button {
    font-size: 0.7em;
}

.accordion-body {
    font-size: 1em;
    font-family: var(--font-family);
}

hr {
    background-color: #474646;
    max-width: 50%;
    margin: auto;
    margin-bottom: 15px;
}



/* Media Queries */
@media (max-width: 978px) {
    .about-paragraph {
        flex-direction: column;
        align-items: center;
    }

    .about-paragraph img {
        margin-bottom: 20px;
    }
}

@media (max-width: 978px) {
    hr {
        max-width: 100%;
    }
}
