@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');


/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  /* Primary Color */
  --primary-color: #dc3545;

  --background-color: #023931;

  /* Background */
  --white-color: #ffffff;

  /* Accent Gray */
  --heading-text: #000;

  /* Text and Secondary Elements */
  --text-color: #333;

  /* Divider Lines */
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  font-size: 1.8rem;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-header {
  background-color: white;
}


nav {
  height: 9rem;
}

.navbar-brand {
  font-size: 2.4rem;
}


.nav-link:link,
.nav-link:visited {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
}


.nav-link:hover,
.nav-link:active {
  color: var(--primary-color);
}


.nav-link.cta {
  background-color: var(--primary-color);
  display: inline-block;
  padding: 0.5rem 2rem !important;
  border-radius: 4px;
}

.nav-link.cta:hover {
  background-color: #0e2420;
  color: #fff;
}

.faq-container {
  margin-left: 20px !important;
  font-family: var(--font-family);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  color: black;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

p {
  font-family: var(--font-family);
  font-size: 1.5rem;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}


/* change navbar background on collapse */
@media (max-width: 982px) {
  nav .navbar-nav {
    background-color: whitesmoke;
    padding: 2rem;
    backdrop-filter: blur(5px);

  }

  .card {
    flex: 1 1 calc(33.33% - 40px);
    /* Three cards per row on medium screens */
    max-width: calc(33.33% - 40px);
    z-index: -1000;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  nav .navbar-nav {
    background-color: whitesmoke;
    padding: 2rem;
    backdrop-filter: blur(5px);

  }

  .card {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
    z-index: -1000;
  }
}

@media (max-width: 576px) {
  nav .navbar-nav {
    background-color: whitesmoke;
    padding: 2rem;
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

  .card {
    flex: 1 1 100%;
    /* One card per row on very small screens */
    max-width: 100%;
    z-index: -1000;
  }
}


.copyright {
  font-size: 1.4rem;
  color: #777;
}