html, body { width: 100%; height: 100%;
    font-family: 'Fjalla One', sans-serif;
}

nav {
    background-color:#D00D2D;
    color: white;
    padding-bottom:65px;
}

hr {
    height: 2px;
    background-color: #D00D2D;
}

.logo{
    font-size: 1.2em;
    font-weight: 800;
}
.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

.navbar-brand {
    color: white;
}

.navbar-brand .img-responsive2{
    max-height: 45px;
    max-width: 50%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
}

.navbar-nav > li{
    padding-left:1.5em;
    padding-right:1.5em;
}

#home-br{
    color: #D00D2D;
}

.homeoverlay
{
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
}

#acm-display {
    z-index: 2;
}

#acm-title {
    font-size: 8rem;
}

#acm-subtitle {
    font-size: 3.7em;
    letter-spacing: 4px;
}

.test{
    display:none;
}

.homeoverlay
{
    background-color: #103486;
    opacity: .5;
    z-index: 1;
}

.homeimage
{
    width: 100%;
    height: 100vh;
    position: initial;
    overflow: hidden;
    background: url(../img/landing_page.jpg) top center no-repeat ;
    /*background: #BEC6C3 url(http://i.imgur.com/rSjyA4F.jpg) top center no-repeat;*/
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.intro display-3{
    font-size: 2rem;
}

#intro-title{
    padding-bottom: 0.75em;
}

#intro-body {

    text-align: justify;
    text-justify: inter-word;
    /*
    padding-top:4em;
    padding-bottom: 4em;
    border-bottom: solid #D00D2D 5px;
    border-top: solid #D00D2D 5px;
    */
    font-size: 1.25em;
}

#events{
    padding-left: 10rem;
    padding-right: 10rem;
}
.events-title{
    padding-bottom: 1em;
    font-size:5em;
    border-bottom: solid #D00D2D 5px;
    margin-bottom: 1em;
}

.event-cards{
    padding-bottom: 2em;
    min-width: 330px;
}

.event-title {
    padding-top: 1em;
}

.top-picture{
    background: #D00D2D;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #D00D2D;
    border-color: #D00D2D;
}

.btn-primary {
    color: #fff;
    background-color: #D00D2D;
    border-color: #D00D2D;

}

#events button{
    font-family: "Fjalla One";
}

footer{ font-family: "Poppins"; }

@media (max-width: 978px) {
    .intro{
        padding:0;
        margin:0;
        padding-top: 3em;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 4rem;
    }

    #acm-title {
        font-size: 6rem;
    }

    #acm-subtitle {
        font-size: 2em;
    }

    #events{
        margin:0;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 568px) {
    #acm-title {
        font-size: 4rem;
    }

    #intro-title {
        font-size: 2rem;
    }

    #events-title {
        font-size: 2rem;
    }
}
