@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');


/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  /* Primary Color */
  --primary-color: #1756a3;

  --background-color: #ffffff;

  /* Background */
  --white-color: #ffffff;

  /* Accent Gray */
  --heading-text: #000;

  /* Text and Secondary Elements */
  --text-color: #333;

  /* Divider Lines */
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  font-size: 1.8rem;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  
}

.bg-header {
  background: var(--background-color);
}


nav {
  height: 9rem;
}


.navbar-brand {
  font-size: 2.4rem;
}
.navbar-brand:hover {
  color: var(--text-color);
}

.nav-link:link,
.nav-link:visited {
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
}


.nav-link:hover,
.nav-link:active {
  color: var(--primary-color);
  font-family: 'Times New Roman', Times, serif;
}


.nav-link.cta {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: inline-block;
  padding: 0.5rem 2rem !important;
  border-radius: 4px;
}

.nav-link.cta:hover {
  background-color: #297fea;
  color: #fff;
}


h1 {
  font-size: 5.2rem;
  letter-spacing: -0.4px;
  line-height: 1.2;
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 4.4rem;
  line-height: 1.3;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  font-family: 'Times New Roman', Times, serif;
}

.hero-section {
  padding: 3.2rem 0;
  height: 100vh;

}

.hero-section p {
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.3px;
  font-family: 'Times New Roman', Times, serif;

}


.btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 24px;
  font-size: 1.8rem;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
}

/* .hero-img {
  width: 90%;
  height: 40%;
} */

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.6rem;
  color: #777;
}

.how-it-works-title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.section-how-card {
  background: white;
}

.how-it-works-text {
  font-size: 1.8rem;
  color: #333;
  line-height: 1.7;
}

.how-it-works {
  padding: 2.4rem 0;
}

.events {
  padding: 5rem 0;
  background-color: var(--background-color);
}

.bg-gradient-custom {
  background: whitesmoke;
  color: #ffffff;
  /* Ensure text is readable on the background */
  padding: 20px;
  /* Optional, for spacing */
  border-radius: 0.25rem;
  /* Optional, to match Bootstrap's border-radius */
}

.event-text {
  color: var(--white-color);
}

.event-card {
  width: 50%;
}

h3 {
  font-size: 2.4rem;
}



span.navbar-toggler-icon {
  background-image: url("data: image/svg+xml;charset=utf8,%3Csvg viewBox%3D%220 0 30 30%22 xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath stroke%3D%22%23ffffff%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E");
}

/* change hamburger button border color */
button.navbar-toggler {
  border-color: #fff;
}

/* change navbar background on collapse */
@media (max-width: 982px) {
  nav .navbar-nav {
    background-color: var(--background-color);
    padding: 2rem;
    backdrop-filter: blur(5px);
  }

  .hero-img {
    display: none;
  }

  .hero-section {
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}




