html, body { width: 100%; height: 100%;
    font-family: 'Fjalla One', sans-serif;
}

nav {
    background-color:#D00D2D;
    color: white;
    padding-bottom:65px;
}
.logo{
    font-size: 1.2em;
    font-weight: 800;
}
.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

.navbar-brand .img-responsive2{
    max-height: 45px;
    max-width: 50%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
}

.navbar-nav > li{
    padding-left:1.5em;
    padding-right:1.5em;
}


#about-title{
    padding-bottom: 1.2rem;
}

#about{
    padding-right: 8rem;
    padding-left: 8rem;
}

#heading-1{
    border-bottom: solid #D00D2D 5px;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5rem;
    margin-bottom: 1rem;

}

#heading-2{
    border-bottom: solid #D00D2D 5px;
    text-align: center;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

#heading-3{
    border-bottom: solid #D00D2D 5px;
    text-align: center;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

#about p{
    font-size: 1.2em;
    border-bottom: solid #D00D2D 5px;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.card-block{
    vertical-align: bottom;
}

#board img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#board{
    background-color: white;
    color:  #000000;
    height:auto;
    width:100%;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 8rem;
    padding-left: 8rem;
}

#board .card-img-top{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-block{
    background: #D00D2D;
    color: white;
}

.board-cards{
    padding-bottom: 2rem;
}

.board-title{
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-bottom: solid 5px #D00D2D;
    margin-bottom: 2rem;
}

.board-container{
    border-bottom: solid 5px #D00D2D;
    margin-bottom: 4rem;
}

#board .samir{
    padding-bottom: 2.9rem;
}

#board h4{
    font-family: Poppins;
}

#board h6{
    font-family: Poppins;
}

#contact-heading{
    padding-bottom: 3rem;
    text-align: center;
    border-bottom: solid #D00D2D 5px;
    text-align: center;
    margin-bottom: 1rem;
}

#contact{
    padding-right: 7rem;
    padding-left: 7rem;

}
#contact p{
    font-size: 1.2em;
}

.second-p{
    border-bottom: solid #D00D2D 5px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}


footer{
    background: #000000;
    color: #D00D2D;
    font-family: "Poppins";
    font-weight: 700;
    padding-top: 2em;
}

.footer-text {
    font-size: 0.8em;
    padding:0;
}

.follow-us{
    padding-top:0.1em;
    font-size: 4em;
    color: #D00D2D;
}
.follow-us a{
    color:#D00D2D;
    text-align: center;
}

.follow-us h1{
    font-weight: 700;
    font-size: 0.5em;
    font-family: Poppins
}
.footer-text p{
    letter-spacing: 4px;
    margin: 0;
}

.footer{
    width: 55%;
}

.fa-discord {
    height: 48px;
    width: 41.15px;
}

@media (max-width: 978px) {
    #about{
        padding:0;
        margin:0;
        padding-top: 1em;
        padding-bottom: 1rem;
    }

    #board{
        padding:0;
        margin:0;
        padding-bottom: 2rem;
    }

    #contact {
        padding: 0;
        margin: 0;
        padding-bottom: 2rem;
    }
    .footer{
        width: 100%;
    }

    .footer h1{
        font-size: 1.75em;
    }

    .follow-us{
        font-size: 3em;
    }

}